(
    name: "VPN connections of NetworkManager",
    description: "Syntax: { vpn | v: } <connection name>\nExample: vpn FooCorpVPN",
    bin: (
        path: "nm-vpn-control",
    ),
    icon: Name("network-vpn-symbolic"),
    // Optional
    query: (
        // Optional -- if we should isolate this plugin when the regex matches
        isolate: true,
        // Optional -- Plugin which searches on empty queries
        persistent: false,
        // Optional -- avoid sorting results from this plugin
        no_sort: true,
        // Optional -- pattern that a query must have to be sent to plugin
        regex: "^(vpn|v:).*",
        // Optional -- the launcher should keep a history for this plugin
        history: true,
        // Optional -- show help
        help: "Syntax: { vpn | v: } <connection name>"
    )
)
